# Dependencies
node_modules/
*/node_modules/

# Next.js build
.next/
*/.next/
out/

# Strapi build & SQLite local database
dist/
*/dist/
.tmp/
*/.tmp/
.strapi/
*/.strapi/
*.db
*.sqlite
*.sqlite3

# Environment files
.env
.env.local
.env.*
*/.env
*/.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
.history

